@import '~antd/dist/antd.css';

.screen-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  border-bottom: 1px solid #e8e8e8;
}

.nav {
  max-width: 1000px;
  margin: auto;
  border: none;
}

.header-container {
  max-width: 1000px;
  padding: 32px 16px 16px 16px;
  margin: auto;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 16px;
}
