@import "~antd/dist/antd.css";

.screen-center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadmore-list {
    min-height: 350px;
}

.nav-container {
  max-width: 1000px;
  margin: auto;
  text-align: right;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 16px;
}
